@import "../../../stylesConstants/colors.scss";

.container {
  // backdrop-filter: blur(5px);
  background: white !important;
  padding: 0 5rem;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  flex-direction: column;
  top: 0;
  z-index: 1000000;
  transition: 0.8s;
  // box-shadow: 5px 10px #333333;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  @media screen and (max-width: 1024px) {
    padding: 0 2rem;
  }

  @media screen and (min-width: 280px) and (max-width: 320px) {
    padding: 0 1.3rem;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    max-width: 1800px;
    z-index: 5;

    .mainWrapper {
      padding: 0.5rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      width: 100%;

      @media screen and (max-width: 1024px) {
        flex-direction: row;
      }

      .loginLogo {
        font-family: "Jost";
        color: $primary;
        font-size: 20px;
        font-weight: bolder;
        text-transform: capitalize;
        letter-spacing: 0.1em;
        // margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .dashboardLeft {
        display: block;
        text-align: left;
        width: 30%;

        @media screen and (max-width: 1024px) {
          width: 90%;
        }

        .accountWrapper {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          row-gap: 0.2rem;
          width: 60%;
          cursor: pointer;

          .blueLogo {
            color: $primary;
            font-size: $fontSize;
            font-weight: $fontWeight;
            // font-family: "Jost";
            letter-spacing: 0.1em;
          }
        }
      }

      .left {
        text-align: left;
        width: 16%;

        @media screen and (max-width: 1043px) {
          width: 90%;
        }

        .logo {
          color: $whiteColor;
          font-size: $fontSize;
          font-weight: $fontWeight;
        }

        .blueLogo {
          font-family: "Jost";
          color: $primary;
          font-size: 20px;
          font-weight: bolder;
          text-transform: capitalize;
          letter-spacing: 0.1em;
        }

        // img {
        //   text-align: left;
        //   width: 107px;
        //   height: 58.6px;
        //   user-select: none;
        //   @media screen and (min-width: 1024px) and (max-width: 1300px) {
        //     width: 90px;
        //     height: 45px;
        //   }
        //   @media screen and (max-width: 1024px) {
        //     width: 60px;
        //     height: 35px;
        //   }
        // }
      }

      .middleWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        .linksWrapper {
          display: flex;
          width: 100%;
          @media screen and (max-width: 1201px) {
            display: none;
          }
          .inputContainer {
            position: relative;
            .inputWrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              column-gap: 0.3rem;
              width: 100%;
              // width: 500px;
              // max-width: 520px;
              box-sizing: border-box;
              .dropDown {
                border: 1px solid #828282;
                border-radius: 12px;
                // width: 342px !important;
                // max-width: 342px;
                width: 200px !important;
                max-width: 200px;
                height: 55px;
                background-color: transparent;
                border-radius: 12px;
                display: flex;
                // column-gap: 0.2rem;

                @media screen and (max-width: 1160px) and (min-width: 1102px) {
                  width: 300px !important;
                  max-width: 300px;
                }
              }
              .dashboardInput {
                display: flex;
                align-items: center;
                width: 100%;
                max-width: 100%;
                background-color: transparent;
                border: 1px solid #828282;
                border-radius: 12px;

                input {
                  background-color: transparent;
                  border: none;
                  padding: 0.8rem 1rem;
                  width: 100%;
                  outline: none;
                  color: gray;

                  &::placeholder {
                    color: gray;
                  }
                }
              }
              .dropDownTwo {
                // width: 25%;
                width: 200px !important;
                max-width: 200px;
                height: 55px;
                display: flex;
                column-gap: 0.2rem;
                // border: 1px solid #828282;
                border-radius: 12px;
                @media screen and (max-width: 800px) {
                  width: 100%;
                  max-width: 100%;
                }
              }
              .dropDown {
                width: 100%;
                height: 100%;
                display: flex;
                column-gap: 0.2rem;
              }
              // .inputCountry {
              //   display: flex;
              //   align-items: center;
              //   width: 100%;
              //   // max-width: 55%;
              //   background: #ffffff;
              //   border-radius: 12px;
              //   border: 1px solid #828282;

              //   .country {
              //     // max-width: 100px;
              //     display: flex;
              //     justify-content: flex-start;
              //     align-items: center;
              //     flex-direction: row;
              //     column-gap: 15px;
              //     padding: 0.8rem;
              //     width: 100%;
              //     input {
              //       width: 100%;
              //       height: 92%;
              //       border-radius: 8px;
              //       font-size: 14px;
              //       border: none;
              //       outline: none;
              //       background-color: none;
              //       padding-left: 0.5rem;
              //     }
              //     span {
              //       text-overflow: ellipsis;
              //       font-style: normal;
              //       font-weight: 400;
              //       font-size: 16px;
              //       line-height: 19px;
              //       display: flex;
              //       align-items: center;

              //       color: #707070;
              //     }
              //   }
              // }
              .searchIcon {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 55px;
                width: 53px;
                max-width: 53px;
                background: $primary;
                border-radius: 12px;
                color: $whiteColor;
                cursor: pointer;
              }
              .inputCountry {
                width: 200px;
                height: 55px;
                min-height: 55px;
                @media screen and (max-width: 1160px) and (min-width: 1102px) {
                  width: 200px !important;
                  max-width: 200px;
                  height: 55px;
                  min-height: 55px;
                }
              }
            }
            .locationData {
              margin: 0.5rem 0rem;
              background-color: #3d83df;
              color: #fff;
              text-align: left;
              z-index: 2;
              border-radius: 8px;
              max-height: 320px;
              width: 100%;
              left: 0;
              overflow: auto;
              position: absolute;
              .textWrapper {
                padding: 1rem;
                font-size: 16px;
                &:hover {
                  background-color: white;
                  border-radius: 8px;
                  color: #3d83df;
                  cursor: pointer;
                }
              }
              .loadingTextWrapper {
                padding: 1rem;
                font-size: 16px;
              }
            }
          }

          ul {
            display: flex;
            column-gap: 0.5rem;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            list-style: none;
            // width: 100%;
            @media screen and (min-width: 1085px) and (max-width: 1201px) {
              column-gap: 0.2rem;
            }

            .active {
              line-height: 19.2px;
              text-align: left;
              color: $primary;
              position: relative;
              margin-left: 30px;
              text-decoration: none;
              font-size: $fontSize;

              @media screen and (min-width: 1024px) and (max-width: 1300px) {
                margin-left: 10px;
              }
            }

            .menuItem {
              line-height: 19.2px;
              text-align: left;
              color: $whiteColor;
              position: relative;
              margin-left: 30px;
              text-decoration: none;

              @media screen and (min-width: 1024px) and (max-width: 1300px) {
                margin-left: 10px;
              }
            }
          }
        }
      }

      .btnWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        // width: 20%;

        // @media screen and (max-width: 1024px) {
        //   width: 40%;
        // }

        @media screen and (max-width: 1201px) {
          column-gap: 1rem;
        }

        @media screen and (min-width: 280px) and (max-width: 320px) {
          column-gap: 0rem;
        }

        .dashboardRight {
          width: 100%;
          display: flex;
          flex-direction: row;
          column-gap: 1.5rem;
          align-items: center;

          img {
            width: 15%;
          }

          .profileWrapper {
            display: flex;
            flex-direction: row;
            column-gap: 1rem;
            align-items: center;
            cursor: pointer;
            .infoWrapper {
              display: flex;
              flex-direction: column;
              row-gap: 0.1rem;

              .brandName {
                font-size: $fontSize;
                font-weight: $fontWeight;
                color: $blackColor;
              }

              .email {
                color: $blackColor;
                font-size: $smPara;
                font-weight: $lightWeight;
              }
            }

            .logo {
              width: 80px;
              height: 70px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #ececec;
              border-radius: 16px;

              img {
                width: 60%;
              }
            }
          }
        }

        .closebtn {
          color: $bgColor;
          font-size: $fontSize;
          align-items: center;
          background: #f7f9fa;
          border: 1px solid #dcdfe3;
          border-radius: 3px;
          padding: 1rem 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          column-gap: 4px;

          @media screen and (max-width: 768px) {
            display: none;
          }
        }

        .authWrapper {
          @media screen and (max-width: 1201px) {
            display: none;
          }

          display: flex;
          justify-content: flex-end;
          align-items: center;
          column-gap: 1rem;
          width: 100%;

          .signUp {
            color: $primary;
            font-size: $fontSize;
            cursor: pointer;
          }

          .blueSignUp {
            color: $primary;
            font-size: $fontSize;
            cursor: pointer;
          }
          .languageStyleButton {
            font-size: $fontSize;

            padding: auto 0.2rem;
            .icon {
              font-size: $fontSize;
              @media screen and (min-width: 1108px) and (max-width: 1246px) {
                font-size: 14px;
              }

              @media screen and (min-width: 1024px) and (max-width: 1108px) {
                font-size: 12px;
              }

              @media screen and (max-width: 1024px) {
                font-size: 10px;
              }
            }
          }
          button {
            display: flex;
            justify-content: center;
            user-select: none;
            column-gap: 0.8rem;
            background-color: $primary;
            font-style: normal;
            font-size: $fontSize;
            white-space: nowrap;
            width: 100%;
            padding: 0.8rem 1rem;
            box-sizing: border-box;
            text-align: center;
            color: $whiteColor;
            transition: 0.55s;
            border: 1px solid $primary;
            max-width: 70px;
            cursor: pointer;
            outline: none;
            border-radius: 8px;
            font-family: "Roboto";

            @media screen and (min-width: 1108px) and (max-width: 1246px) {
              font-size: 14px;
              padding: 0.8rem 0.4rem;
              column-gap: 0.5rem;
            }

            @media screen and (min-width: 1024px) and (max-width: 1108px) {
              font-size: 12px;
              padding: 0.5rem;

              &:first-child {
                padding: 0.5rem 1rem;
              }
            }

            @media screen and (max-width: 1024px) {
              font-size: 10px;
              width: 70px;
            }
          }
        }

        .authWrapperaccountbtn {
          @media screen and (max-width: 1201px) {
            display: none;
          }

          display: flex;
          justify-content: flex-end;
          align-items: center;
          column-gap: 1rem;
          width: 100%;

          button {
            display: flex;
            justify-content: center;
            user-select: none;
            column-gap: 0.8rem;
            background-color: $primary;
            font-style: normal;
            font-size: $fontSize;
            white-space: nowrap;
            width: 100%;
            padding: 0.8rem 1rem;
            box-sizing: border-box;
            text-align: center;
            color: $whiteColor;
            transition: 0.55s;
            border: 1px solid $primary;
            max-width: 105px;
            cursor: pointer;
            outline: none;
            border-radius: 8px;
            font-family: "Roboto";
            @media screen and (min-width: 1108px) and (max-width: 1246px) {
              font-size: 14px;
              padding: 0.8rem 0.4rem;
              column-gap: 0.5rem;
            }
          }
        }

        .mobileIcon {
          @media screen and (min-width: 1202px) {
            display: none;
          }

          display: block;
          color: $primary;
          // background-color: $whiteColor;
          // border: 1px solid #edeff2;
          // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
          padding: 0.2rem;
          border-radius: 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition: 0.8s;
          width: 100%;

          .iconC {
            width: 100%;
            justify-content: flex-end;
            display: flex;
            font-size: 2rem;
            @media screen and (min-width: 1108px) and (max-width: 1246px) {
              font-size: 2.4rem;
              // padding: 15.7px 0.8rem;
            }

            @media screen and (min-width: 280px) and (max-width: 320px) {
              font-size: 1rem;
            }
          }
        }
      }
      .iconWrap {
        .icon {
          color: #3d83df;
          cursor: pointer;
        }
      }
    }
  }
}

.activeContainer {
  padding: 0 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  flex-direction: column;
  top: 0;
  z-index: 1000000;

  @media screen and (max-width: 1024px) {
    padding: 0 2rem;
  }

  @media screen and (min-width: 280px) and (max-width: 320px) {
    padding: 0 1.3rem;
  }

  .wrapper {
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    max-width: 1800px;
    z-index: 5;

    .mainWrapper {
      padding: 0.5rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      width: 100%;

      @media screen and (max-width: 1024px) {
        flex-direction: row;
      }

      .loginLogo {
        font-family: "Jost";
        color: $primary;
        font-size: 20px;
        font-weight: bolder;
        text-transform: capitalize;
        letter-spacing: 0.1em;
        // margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .dashboardLeft {
        display: block;
        text-align: left;
        width: 30%;

        @media screen and (max-width: 1024px) {
          width: 90%;
        }

        .accountWrapper {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          row-gap: 0.2rem;
          width: 60%;
          cursor: pointer;

          .blueLogo {
            color: $primary;
            font-size: $fontSize;
            font-weight: $fontWeight;
            // font-family: "Jost";
            letter-spacing: 0.1em;
          }
        }
      }

      .left {
        text-align: left;
        width: 16%;

        @media screen and (max-width: 1043px) {
          width: 90%;
        }

        .logo {
          color: $whiteColor;
          font-size: $fontSize;
          font-weight: $fontWeight;
        }

        .blueLogo {
          font-family: "Jost";
          color: $primary;
          font-size: 20px;
          font-weight: bolder;
          text-transform: capitalize;
          letter-spacing: 0.1em;
        }

        // img {
        //   text-align: left;
        //   width: 107px;
        //   height: 58.6px;
        //   user-select: none;
        //   @media screen and (min-width: 1024px) and (max-width: 1300px) {
        //     width: 90px;
        //     height: 45px;
        //   }
        //   @media screen and (max-width: 1024px) {
        //     width: 60px;
        //     height: 35px;
        //   }
        // }
      }

      .middleWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        .linksWrapper {
          display: flex;
          width: 100%;
          @media screen and (max-width: 1201px) {
            display: none;
          }
          .inputContainer {
            position: relative;

            .inputWrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              column-gap: 0.3rem;
              width: 100%;
              // width: 500px;
              // max-width: 520px;
              box-sizing: border-box;
              .dropDown {
                border: 1px solid #828282;
                border-radius: 12px;
                // width: 342px !important;
                // max-width: 342px;
                width: 200px !important;
                max-width: 200px;
                height: 55px;
                background-color: transparent;
                border-radius: 12px;
                display: flex;
                // column-gap: 0.2rem;

                @media screen and (max-width: 1160px) and (min-width: 1102px) {
                  width: 300px !important;
                  max-width: 300px;
                }
              }
              .dashboardInput {
                display: flex;
                align-items: center;
                width: 100%;
                max-width: 100%;
                background-color: transparent;
                border: 1px solid #828282;
                border-radius: 12px;

                input {
                  background-color: transparent;
                  border: none;
                  padding: 0.8rem 1rem;
                  width: 100%;
                  outline: none;
                  color: gray;

                  &::placeholder {
                    color: gray;
                  }
                }
              }
              .dropDownTwo {
                // width: 25%;
                width: 200px !important;
                max-width: 200px;
                height: 55px;
                display: flex;
                column-gap: 0.2rem;
                // border: 1px solid #828282;
                border-radius: 12px;
                @media screen and (max-width: 800px) {
                  width: 100%;
                  max-width: 100%;
                }
              }
              .dropDown {
                width: 100%;
                height: 100%;
                display: flex;
                column-gap: 0.2rem;
              }
              // .inputCountry {
              //   display: flex;
              //   align-items: center;
              //   width: 100%;
              //   // max-width: 55%;
              //   background: #ffffff;
              //   border-radius: 12px;
              //   border: 1px solid #828282;

              //   .country {
              //     // max-width: 100px;
              //     display: flex;
              //     justify-content: flex-start;
              //     align-items: center;
              //     flex-direction: row;
              //     column-gap: 15px;
              //     padding: 0.8rem;
              //     width: 100%;
              //     input {
              //       width: 100%;
              //       height: 92%;
              //       border-radius: 8px;
              //       font-size: 14px;
              //       border: none;
              //       outline: none;
              //       background-color: none;
              //       padding-left: 0.5rem;
              //     }
              //     span {
              //       text-overflow: ellipsis;
              //       font-style: normal;
              //       font-weight: 400;
              //       font-size: 16px;
              //       line-height: 19px;
              //       display: flex;
              //       align-items: center;

              //       color: #707070;
              //     }
              //   }
              // }
              .searchIcon {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 55px;
                width: 53px;
                max-width: 53px;
                background: $primary;
                border-radius: 12px;
                color: $whiteColor;
                cursor: pointer;
              }
              .inputCountry {
                width: 200px;
                height: 55px;
                min-height: 55px;
                @media screen and (max-width: 1160px) and (min-width: 1102px) {
                  width: 200px !important;
                  max-width: 200px;
                  height: 55px;
                  min-height: 55px;
                }
              }
            }
            .locationData {
              margin: 0.5rem 0rem;
              background-color: #3d83df;
              color: #fff;
              text-align: left;
              z-index: 2;
              border-radius: 8px;
              max-height: 320px;
              width: 100%;
              left: 0;
              overflow: auto;
              position: absolute;
              .textWrapper {
                padding: 1rem;
                font-size: 16px;
                &:hover {
                  background-color: white;
                  border-radius: 8px;
                  color: #3d83df;
                  cursor: pointer;
                }
              }
              .loadingTextWrapper {
                padding: 1rem;
                font-size: 16px;
              }
            }
          }

          ul {
            display: flex;
            column-gap: 0.5rem;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            list-style: none;
            // width: 100%;
            @media screen and (min-width: 1085px) and (max-width: 1201px) {
              column-gap: 0.2rem;
            }

            .active {
              line-height: 19.2px;
              text-align: left;
              color: $primary;
              position: relative;
              margin-left: 30px;
              text-decoration: none;
              font-size: $fontSize;

              @media screen and (min-width: 1024px) and (max-width: 1300px) {
                margin-left: 10px;
              }
            }

            .menuItem {
              line-height: 19.2px;
              text-align: left;
              color: $whiteColor;
              position: relative;
              margin-left: 30px;
              text-decoration: none;

              @media screen and (min-width: 1024px) and (max-width: 1300px) {
                margin-left: 10px;
              }
            }
          }
        }
      }

      .btnWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        // width: 20%;

        // @media screen and (max-width: 1024px) {
        //   width: 40%;
        // }

        @media screen and (max-width: 1201px) {
          column-gap: 1rem;
        }

        @media screen and (min-width: 280px) and (max-width: 320px) {
          column-gap: 0rem;
        }

        .dashboardRight {
          width: 100%;
          display: flex;
          flex-direction: row;
          column-gap: 1.5rem;
          align-items: center;

          img {
            width: 15%;
          }

          .profileWrapper {
            display: flex;
            flex-direction: row;
            column-gap: 1rem;
            align-items: center;
            cursor: pointer;
            .infoWrapper {
              display: flex;
              flex-direction: column;
              row-gap: 0.1rem;

              .brandName {
                font-size: $fontSize;
                font-weight: $fontWeight;
                color: $blackColor;
              }

              .email {
                color: $blackColor;
                font-size: $smPara;
                font-weight: $lightWeight;
              }
            }

            .logo {
              width: 80px;
              height: 70px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #ececec;
              border-radius: 16px;

              img {
                width: 60%;
              }
            }
          }
        }

        .closebtn {
          color: $bgColor;
          font-size: $fontSize;
          align-items: center;
          background: #f7f9fa;
          border: 1px solid #dcdfe3;
          border-radius: 3px;
          padding: 1rem 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          column-gap: 4px;

          @media screen and (max-width: 768px) {
            display: none;
          }
        }

        .authWrapper {
          @media screen and (max-width: 1201px) {
            display: none;
          }

          display: flex;
          justify-content: flex-end;
          align-items: center;
          column-gap: 1rem;
          width: 100%;

          .signUp {
            color: $primary;
            font-size: $fontSize;
            cursor: pointer;
          }

          .blueSignUp {
            color: $primary;
            font-size: $fontSize;
            cursor: pointer;
          }
          .languageStyleButton {
            font-size: $fontSize;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 0.2rem;
            max-width: auto !important;
            padding: 14px 0.5rem !important;
            .iconStyle {
              font-size: 19px !important;
            }
            width: auto;
          }
          button {
            display: flex;
            justify-content: center;
            user-select: none;
            column-gap: 0.8rem;
            background-color: $primary;
            font-style: normal;
            font-size: $fontSize;
            white-space: nowrap;
            width: 100%;
            padding: 0.8rem 1rem;
            box-sizing: border-box;
            text-align: center;
            color: $whiteColor;
            transition: 0.55s;
            border: 1px solid $primary;
            max-width: 70px;
            cursor: pointer;
            outline: none;
            border-radius: 8px;
            font-family: "Roboto";

            @media screen and (min-width: 1108px) and (max-width: 1246px) {
              font-size: 14px;
              padding: 0.8rem 0.4rem;
              column-gap: 0.5rem;
            }

            @media screen and (min-width: 1024px) and (max-width: 1108px) {
              font-size: 12px;
              padding: 0.5rem;

              &:first-child {
                padding: 0.5rem 1rem;
              }
            }

            @media screen and (max-width: 1024px) {
              font-size: 10px;
              width: 70px;
            }
          }
        }

        .authWrapperaccountbtn {
          @media screen and (max-width: 1201px) {
            display: none;
          }

          display: flex;
          justify-content: flex-end;
          align-items: center;
          column-gap: 1rem;
          width: 100%;

          button {
            display: flex;
            justify-content: center;
            user-select: none;
            column-gap: 0.8rem;
            background-color: $primary;
            font-style: normal;
            font-size: $fontSize;
            white-space: nowrap;
            width: 100%;
            padding: 0.8rem 1rem;
            box-sizing: border-box;
            text-align: center;
            color: $whiteColor;
            transition: 0.55s;
            border: 1px solid $primary;
            max-width: 105px;
            cursor: pointer;
            outline: none;
            border-radius: 8px;
            font-family: "Roboto";
            @media screen and (min-width: 1108px) and (max-width: 1246px) {
              font-size: 14px;
              padding: 0.8rem 0.4rem;
              column-gap: 0.5rem;
            }
          }
        }

        .mobileIcon {
          @media screen and (min-width: 1202px) {
            display: none;
          }

          display: block;
          color: $primary;
          // background-color: $whiteColor;
          // border: 1px solid #edeff2;
          // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
          padding: 0.2rem;
          border-radius: 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition: 0.8s;
          width: 100%;

          .iconC {
            width: 100%;
            justify-content: flex-end;
            display: flex;
            font-size: 2rem;
            @media screen and (min-width: 1108px) and (max-width: 1246px) {
              font-size: 2.4rem;
              // padding: 15.7px 0.8rem;
            }

            @media screen and (min-width: 280px) and (max-width: 320px) {
              font-size: 1rem;
            }
          }
        }
      }
      .iconWrap {
        .icon {
          color: #3d83df;
          cursor: pointer;
        }
      }
    }
  }
}

/**** mobile menu styles***/
.mobileContainer {
  animation: animi 0.5s;
  position: fixed;
  top: 0px;
  /****temp***/
  // top: 175px;
  /****temp***/
  width: 100%;
  z-index: 1000000000;
  box-sizing: border-box;

  .CloseIcon {
    position: absolute;
    top: 3%;
    right: 5%;
    .Icons {
      font-size: 1.5rem;
      color: #3d83df;
    }
  }

  .mobileIconWrapper {
    display: block;
    z-index: 2;

    background-color: $dashBoardBackground;
    // min-height: 100vh;
    /****temp***/
    min-height: 110vh;
    // max-height: 89.3vh;
    overflow: auto;

    /****temp***/
    .mobileLinksWrapper {
      display: flex;
      flex-direction: column;

      .mobileMenuLogo {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1rem 0;
        border-bottom: 1px solid #dcdfe3;
        box-sizing: border-box;
        padding-left: 1rem;
        img {
          width: 20%;
          max-width: 30%;
        }
      }
      .ActiveMobileMenu {
        li {
          color: white;
        }
      }
      ul {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-decoration: none;
        list-style: none;
        border-bottom: 1px solid #dcdfe3;
        box-sizing: border-box;
        padding: 0 2rem;
        margin: 0;
        &:hover {
          background-color: $lightBackground;
          border-bottom: 1px solid #dcdfe3;
        }
        li {
          padding: 1.5rem 0;
          cursor: pointer;
          text-decoration: none;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          text-align: left;
          box-sizing: border-box;
          color: #212121;
          transition: all 0.4s ease;
          width: 100%;
          &:hover {
            transition: all 1s ease;
            -webkit-transform: translateX(-4px);
            color: $primary;
            font-size: 18px;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}

@keyframes animi {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

/**** mobile menu styles***/
