@import "../../../stylesConstants/colors.scss";
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  @media screen and (max-width: 600px) {
    padding: 0rem !important;
    margin-bottom: 2rem;
  }
  .wrapper {
    background: rgba(61, 131, 223, 0.15);
    border-radius: 24px;
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 0;
    max-width: 1800px;
    @media screen and (max-width: 600px) {
      width: 100%;
      border-radius: 0px;
    }
    label {
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 60px;
      text-align: center;
      text-transform: uppercase;
      color: #333333;
      @media screen and (max-width: 600px) {
        font-size: 32px !important;
        line-height: 40px !important;
        br {
          display: none;
        }
      }
      @media screen and (max-width: 800px) {
        font-size: $smHeadingSIze;
        line-height: unset;
        br {
          display: none;
        }
      }
      span {
        color: #3d83df;
      }
    }
    .cardWrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      column-gap: 2.5rem;
      row-gap: 2.5rem;

      .card {
        background: #ffffff;
        border: 1px solid #c7e0ff;
        border-radius: 12px;
        // height: 450px;
        min-width: 240px;
        overflow: auto;
        padding: 1rem;
        max-width: 33%;

        @media screen and (min-width: 300px) and (max-width: 550px) {
          height: auto;
        }
        @media screen and (max-width: 550px) {
          max-width: 80%;
          min-width: 80%;
        }
        .textWrapper {
          display: flex;
          column-gap: 1.7rem;
          align-items: center;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 23px;
          padding: 1rem 0.3rem;
          display: flex;
          align-items: center;
          color: #333333;
          .imgWrapper {
            background: #e2edfa;
            border-radius: 50%;
            padding: 10px 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
            }
          }
        }
      }
    }
  }
}
