.mainWrap {
  width: 90%;
  z-index: 0;
  h1 {
    display: none;
    font-family: "Roboto";
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    @media screen and (max-width: 1024px) {
      display: block;
    }
  }
  .container {
    border: 1px solid #dcdfe3;
    padding: 0.5rem 0 0rem 0;
    border-radius: 5px;
    width: 100%;

    .wrapper {
      height: 500pt;
      width: 100%;
      // max-width: 1800px;
    }
  }
}
