@import "../../../stylesConstants/colors.scss";
.container {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  .wrapper {
    width: 50%;
    border: 1px solid #dcdfe3;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    // padding: 1rem 7rem 2rem 7rem;
    padding: 40px;
    @media screen and (max-width: 1024px) {
      width: 100%;
      padding: 0rem;
      border: none;
    }
    @media screen and (min-width: 1024px) and (max-width: 1500px) {
      width: 70%;
      padding: 1rem;
      border: 1px solid #dcdfe3;
    }
    .headingWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      label {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 79px;
      }
      p {
        margin: 0;
        font-family: $headingFamily;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #e0e0e1;
        mix-blend-mode: normal;
        opacity: 0.9;
        @media screen and (max-width: 1024px) {
          font-size: 14px;
          text-align: center;
        }
      }
    }
    .inputWrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      .ibanText {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        padding: 2rem 0;
      }
      label {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #4f5b76;
      }
      .errorStyle {
        color: $primary;
        font-family: $headingFamily;
        font-size: 13px;
      }
      .inputStyle {
        border: 1px solid #dcdfe3;
        border-radius: 3px;
        background: transparent;
        padding: 10px;
        padding: 0.1rem 1rem;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.5rem;
        @media screen and (max-width: 1024px) {
          height: 40px;
        }
        .icon {
          color: $primary;
          font-size: 25px;
          @media screen and (max-width: 1024px) {
            font-size: 20px;
          }
        }
        .pIcon {
          color: $whiteColor;
          font-size: 25px;
          cursor: pointer;
          @media screen and (max-width: 1024px) {
            font-size: 20px;
          }
        }
        input {
          height: 100%;
          width: 100%;
          padding: 15px 0;
          background-color: transparent;
          border: none;
          outline: none;
          color: black;
          &::placeholder {
            color: #32325d !important;
            opacity: 0.5 !important;
          }
        }
      }
      .inputDropdown {
        // border: 1px solid #DCDFE3;
        border-radius: 3px;
        background: transparent;
        // padding: 10px;
        padding: 0.1rem 0rem;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.5rem;
        height: 50px;
        @media screen and (max-width: 1024px) {
          height: 50px;
        }
      }
    }
    .middleWrapper {
      display: flex;

      flex-direction: column;
      column-gap: 1rem;
      row-gap: 1rem;
      @media screen and (min-width: 1024px) {
        flex-direction: row;
      }
      .inputWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 0.5rem;
        label {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 15px;
          color: #4f5b76;
        }
        .errorStyle {
          color: $primary;
          font-family: $headingFamily;
          font-size: 13px;
        }
        .inputStyle {
          border: 1px solid #dcdfe3;
          border-radius: 3px;
          background: transparent;
          // padding: 10px;
          // padding: 0.1rem 1rem;
          width: 100%;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 0.5rem;
          @media screen and (max-width: 1024px) {
            // height: 40px;
          }
          input {
            height: 100%;
            width: 100%;
            // padding: 10px 0;
            // background-color: red;
            border: none;
            outline: none;
            color: black;
            &::placeholder {
              color: #32325d !important;
              opacity: 0.5 !important;
            }
          }
        }
        .inputDropdown {
          // border: 1px solid #DCDFE3;
          border-radius: 3px;
          background: transparent;
          // padding: 10px;
          padding: 0.1rem 0rem;
          width: 100%;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 0.5rem;
          height: 50px;
          @media screen and (max-width: 1024px) {
            height: 50px;
          }
        }
      }
    }
    .btnWrapper {
      width: 100%;
      button {
        background-color: $primary;
        width: 100%;
        padding: 0.8rem 2rem;
        box-sizing: border-box;
        text-align: center;
        color: $whiteColor;
        transition: 0.4s;
        max-width: 100%;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        border: none;
        cursor: pointer;
        outline: none;
        &:hover {
          box-shadow: inset -255px 0 0 0 $primaryHover,
            inset 255px 0 0 0 $primaryHover;
        }
        @media screen and (min-width: 600px) and (max-width: 1024px) {
          font-size: 14px;
        }
        @media screen and (max-width: 600px) {
          padding: 0.6rem 1rem;
        }
      }
    }
  }
}
