@import "../../../stylesConstants/colors.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10rem;
  margin-top: 7rem;
  margin-bottom: 7rem;
  .wrapper {
    max-width: 1800px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1.5rem;
    @media screen and (min-width: 300px) and (max-width: 768px) {
      row-gap: 0.5rem;
    }
    .heading {
      font-size: $headingSize;
      color: $blackColor;
      font-weight: $fontWeight;
      line-height: 30px;
      letter-spacing: 2px;
      @media screen and (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        font-size: 45px;
        line-height: 50px;
        text-align: center;
      }
    }
    .subHeading {
      font-size: $fontSize;
      font-weight: $fontWeight;
      font-weight: 200;
      line-height: 30px;
      @media screen and (min-width: 300px) and (max-width: 768px) {
        width: 98%;
        text-align: center;
        line-height: 30px;
        font-size: 16px;
        margin-top: 1rem;
      }
    }
    .cardWrapper {
      display: flex;
      width: 100%;
      column-gap: 0.5rem;
      justify-content: flex-start;
      overflow-y: auto;
      max-width: 100%;
      @media screen and (max-width: 1024px) {
        flex-wrap: wrap;
        row-gap: 1rem;
        justify-content: space-between;
      }

      .card {
        background-color: transparent;
        width: 100%;
        border: 1px solid #dcdfe3;
        border-radius: 6px;
        align-items: center;
        padding: 5rem 3rem;
        box-sizing: border-box;
        @media screen and (min-width: 300px) and (max-width: 768px) {
          padding: 2rem 1rem;
        }
        @media screen and (min-width: 973px) {
          display: flex;
          column-gap: 1rem;
          flex-direction: column;
          row-gap: 0.5rem;
        }
        @media screen and (max-width: 973px) {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          row-gap: 0.5rem;
          column-gap: 1rem;
        }
        @media screen and (min-width: 1600px) {
          width: 100%;
        }
        .des {
          color: $blackColor;
          font-size: $paraFont;
          text-align: left;
          line-height: 22px;
          @media screen and (min-width: 300px) and (max-width: 768px) {
            font-size: 16px;
            line-height: 30px;
          }
        }
        .stars {
          width: 100%;
          display: flex;
          flex-direction: row;
          font-size: 20px;
          color: $greenColor;
          @media screen and (min-width: 300px) and (max-width: 768px) {
            column-gap: 0.1px;
            font-size: 14px;
          }
        }
        .profileWrapper {
          margin-top: 1rem;
          width: 100%;
          display: flex;
          flex-direction: row;
          column-gap: 1rem;
          justify-content: flex-start;
          align-items: center;
          img {
            width: 30%;
          }
          .nameWrapper {
            display: flex;
            flex-direction: column;

            row-gap: 1rem;
            .name {
              font-size: $fontSize;
              font-weight: $fontWeight;
              color: $blackColor;
              @media screen and (min-width: 300px) and (max-width: 768px) {
                font-size: 16px;
                line-height: 24px;
              }
            }
            .title {
              font-size: $paraFont;
              font-weight: $lightWeight;
              color: $blackColor;
              @media screen and (min-width: 300px) and (max-width: 768px) {
                font-size: 16px;
                line-height: 24px;
              }
            }
          }
        }
        &:hover {
          background: #f1f7ff;
        }
      }
    }
  }
}
