@import "../../../../stylesConstants/colors.scss";
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // margin-top: 2rem;
  .wrapper {
    width: 100%;
    max-width: 1800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    .header {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      row-gap: 2rem;
      @media screen and (min-width:1024px){
          width: 50%;
      }

      .heading {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 1rem;
        @media screen and (min-width:768px){
          max-width: 300px;
        }
        .headingArrow{
          display: block;
          @media screen and (min-width:1024px){
            display: none;
          }
          .LeftIcon{
          color: #3D83DF;
          font-size: 2rem;
          font-weight: bold;
        }
      }
      .headingText{
        font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 35px;
      }
      }
      .radioButtonsWrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      @media screen and (min-width:508px){
        max-width: 500px;
      }
      .creditCard {
        width: 50%;
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        align-items: center;
        input {
          height: 20px;
          width: 20px;
          border: 1px solid $primary;
          background-color: transparent;
          border-radius: 50%;
          cursor: pointer;
          div {
            width: 17px;
            height: 17px;
            background-color: $primary;
            border-radius: 50%;
            border: 1px solid $primary;
          }
        }
        .text {
          font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
        }
      }
    }
    }
    .stripePayment{
      width:100%;
     
    }
    
  }
}
