@import "../../../../stylesConstants/colors.scss";
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  // height: 100vh;
  @media screen and (min-width: 300px) and (max-width: 768px) {
    margin-top: 2rem;
  }

  .wrapper {
    width: 80%;
    display: flex;
    row-gap: 2.5rem;
    justify-content: space-between;
    flex-direction: row;
    padding: 2.5rem 0;
    max-width: 1800px;
    @media screen and (min-width: 300px) and (max-width: 999px) {
      flex-direction: column;
      row-gap: 2rem;
    }
    @media screen and (min-width: 300px) and (max-width: 1200px) {
      width: 100%;
      padding: 2.5rem 0rem;
      box-sizing: border-box;
    }
    .imgWrapper {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      display: block;
      @media screen and (min-width: 300px) and (max-width: 760px) {
        display: none;
      }
      @media screen and (min-width: 1000px) and (max-width: 1100px) {
        width: 55%;
      }
      @media screen and (min-width: 300px) and (max-width: 999px) {
        width: 100%;
      }
      img {
        width: 100%;
        display: block;
        @media screen and (min-width: 300px) and (max-width: 760px) {
          display: none;
        }
      }
    }
    .loginForm {
      border: 1px solid #dcdfe3;
      border-radius: $borderRadius;
      width: 45%;
      padding: 2rem 0rem;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (min-width: 300px) and (max-width: 1024px) {
        width: 100%;
        border: none;
      }
      @media screen and (min-width: 1000px) and (max-width: 1100px) {
        width: 45%;
      }
      @media screen and (min-width: 300px) and (max-width: 999px) {
        width: 100%;
      }
      .formContent {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 0.5rem;
        @media screen and (max-width: 500px) {
          width: 90%;
        }
        .heading {
          font-size: 26px;
          font-weight: $fontWeight;
          color: #1b2734;
          text-align: start;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;
          @media screen and (max-width: 768px) {
            font-size: 25px;
            line-height: 35px;
          }
          @media screen and (min-width: 1024px) and (max-width: 1450px) {
            font-size: $mediumHeading;
            text-align: center;
          }
        }
        .subHeading {
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          color: #627282;
          margin-bottom: 1rem;
          text-align: start;
          width: 100%;
        }

        .loginFormInput {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          row-gap: 1rem;
          @media screen and (max-width: 1024px) {
            width: 90%;
          }

          .inputWrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;

            label {
              font-size: $fontSize;
              font-weight: $lightWeight;
              line-height: 22px;
              color: $blackColor;
              mix-blend-mode: normal;
              opacity: 0.8;
              @media screen and (max-width: 500px) {
                font-size: $smPara;
              }
            }
            .errorStyle {
              color: $errorColor;
              font-size: 13px;
            }
            .inputStyle {
              background: transparent;
              border: 1px solid $bgSec;
              border-radius: $borderRadius;
              height: 50px;

              width: 100%;
              box-sizing: border-box;
              display: flex;
              justify-content: center;
              align-items: center;
              column-gap: 0.5rem;
              @media screen and (max-width: 1024px) {
                height: 40px;
              }

              input {
                height: 100%;
                width: 100%;
                background-color: transparent;
                border: none;
                outline: none;
                color: #495057;
                font-size: 15px;
                padding: 0.1rem 1rem;
                &::placeholder {
                  color: #495057;
                  font-size: 15px;
                  @media screen and (max-width: 600px) {
                    font-size: $smPara;
                  }
                }
              }
              .pIcon {
                padding: 0.1rem 1rem;
                color: #9a9ea0;
                font-size: 25px;
                cursor: pointer;
                @media screen and (max-width: 1024px) {
                  font-size: 20px;
                }
              }
            }
          }
          .forgot {
            width: 100%;
            text-align: center;
            label {
              font-size: 15px;
              font-weight: $lightWeight;
              line-height: 22px;
              text-align: right;
              color: $primary;
              cursor: pointer;

              @media screen and (max-width: 1024px) {
                font-size: 13px;
              }
            }
          }
          .btnWrapper {
            width: 100%;
            button {
              background-color: $primary;
              width: 100%;
              padding: 0.8rem 2rem;
              box-sizing: border-box;
              text-align: center;
              color: $whiteColor;
              transition: 0.4s;
              max-width: 100%;
              font-weight: $fontWeight;
              font-size: 15px;
              line-height: 22px;
              border: none;
              border-radius: $borderRadius;
              font-family: "Roboto";
              cursor: pointer;
              outline: none;
              @media screen and (min-width: 600px) and (max-width: 1024px) {
                font-size: 14px;
              }
              @media screen and (max-width: 600px) {
                padding: 0.6rem 1rem;
              }
            }
          }
        }

        .separator {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px 0px;
          @media screen and (max-width: 768px) {
            margin: 10px 0px;
          }
        }

        .socialBtnWrapper {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          row-gap: 1.5rem;
          .btnGoogle {
            width: 100%;
            cursor: pointer;
            display: inline-block;
            border-radius: 1px;
            text-decoration: none;
            background: transparent;
            border: 1px solid $bgSec;
            border-radius: 3px;
            color: #1b2734;
            transition: background-color 0.218s, border-color 0.218s,
              box-shadow 0.218s;
            .googleContent {
              display: flex;
              align-items: center;
              width: 100%;
              height: 50px;
              font-size: $fontSize;
              font-weight: $lightWeight;
              @media screen and (max-width: 768px) {
                font-size: 16px;
              }
              .logo {
                padding: 16px;
                height: 24px;
                display: flex;
                align-items: center;
                img {
                  width: 25px;
                  height: 25px;
                }
              }
              p {
                width: 100%;
                line-height: 1;
                letter-spacing: 0.21px;
                text-align: center;
                font-weight: 500;
              }
            }
            &:hover {
              box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
              .googleContent p {
                color: #757575;
              }
            }
            &:active {
              background-color: #eee;
            }
          }
        }
        .devider {
          width: 100%;
          border-bottom: solid 1px $bgSec;
          margin: 10px 0px;
        }
        .forgot {
          width: 100%;
          text-align: center;
          label {
            font-size: 15px;
            font-weight: $lightWeight;
            line-height: 22px;
            text-align: right;
            color: $primary;
            cursor: pointer;

            @media screen and (max-width: 1024px) {
              font-size: 13px;
            }
          }
        }
        .footerContent {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          column-gap: 8px;
          width: 100%;
          @media screen and (max-width: 768px) {
            flex-direction: row;
            column-gap: 10px;
            row-gap: 10px;
          }
          @media screen and (min-width: 1000px) and (max-width: 1380px) {
            flex-direction: column;
            row-gap: 5px;
          }
          .text {
            font-size: 15px;
            font-weight: $lightWeight;
            color: #627282;
          }
          span {
            color: $primary;
            font-weight: $lightWeight;
            cursor: pointer;
          }
        }
      }
    }
  }
}
