@import "../../../stylesConstants/colors.scss";
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100%;
  .wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: flex-start;
    border: 1px solid #dcdfe3;
    border-radius: 3px;
    padding: 2.5rem;
    box-sizing: border-box;
    @media screen and (max-width: 1200px) {
      padding: 1.5rem;
    }
    @media screen and (min-width: 300px) and (max-width: 700px) {
      width: 100%;
      border: 0px;
      padding: 1rem;
    }
    @media screen and (min-width: 700px) and (max-width: 1300px) {
      width: 70%;
    }
    .heading {
      font-size: $headingSize;
      font-weight: $fontWeight;
      color: $blackColor;
      text-align: start;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      @media screen and (max-width: 768px) {
        font-size: 22px;
        line-height: 35px;
      }
      @media screen and (min-width: 700px) and (max-width: 1300px) {
        font-size: $smHeadingSIze;
      }
    }
    .subHeading {
      font-size: $fontSize;
      font-weight: $lightWeight;
      color: #627282;
      text-align: start;
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      width: 100%;
      @media screen and (max-width: 1100px) {
        flex-direction: column;
        row-gap: 0.5rem;
        font-size: $paraFont;
      }
      @media screen and (min-width: 1100px) and (max-width: 1300px) {
        font-size: $paraFont;
      }
      span {
        color: $primary;
        cursor: pointer;
      }
    }
    .perSonalInfo {
      padding-top: 2rem;
      width: 100%;
      background: #ffffff;
      border-radius: 20px;
      // padding: 4rem 0rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 1rem;
      @media screen and (max-width: 1200px) {
        width: 100%;
        padding: 0rem 0rem;
      }
      @media screen and (max-width: 800px) {
        width: 100%;
      }
      .formContent {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 2.5rem;

        .inputWrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          row-gap: 0.5rem;
          .info {
            font-size: $fontSize;
            font-weight: $lightWeight;
            color: #627282;
            text-align: start;
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            width: 100%;
            @media screen and (max-width: 800px) {
              font-size: $smPara;
              column-gap: 10px;
            }

            span {
              color: $primary;
              cursor: pointer;
            }
          }
          label {
            font-size: 16px;
            font-weight: $fontWeight;
            line-height: 22px;
            color: #1b2734;
            mix-blend-mode: normal;
            opacity: 0.8;
            @media screen and (max-width: 800px) {
              font-size: $smPara;
            }
          }
          .errorStyle {
            color: $errorColor;
            font-size: 13px;
          }
          .inputStyle {
            background: $whiteColor;
            border: 1px solid $bgSec;
            border-radius: 3px;
            height: 50px;
            padding: 0.1rem 1rem;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 0.5rem;
            @media screen and (max-width: 1024px) {
              height: 40px;
            }

            input {
              height: 100%;
              width: 100%;
              background-color: transparent;
              border: none;
              outline: none;
              color: $blackColor;
              &::placeholder {
                color: #98a1ab;
                font-size: $fontSize;
                @media screen and (max-width: 600px) {
                  font-size: $smPara;
                }
              }
            }
          }
        }
      }
      .btnWrapper {
        width: 100%;
        button {
          background-color: $primary;
          width: 100%;
          padding: 1rem 2rem;
          box-sizing: border-box;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $whiteColor;
          transition: 0.4s;
          max-width: 100%;
          font-weight: 500;
          font-size: $fontSize;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          font-family: "Roboto";
          outline: none;
          span {
            margin-right: 10px;
          }
          @media screen and (min-width: 600px) and (max-width: 1024px) {
            font-size: 14px;
            font-weight: $lightWeight;
          }
          @media screen and (max-width: 600px) {
            padding: 0.6rem 1rem;
            font-weight: $lightWeight;
          }
        }
      }
    }
  }
}
