.container {
  width: 100%;
  .wrapper {
    width: 100%;
    box-sizing: border-box;
    margin: 0rem;
    justify-content: center;
    display: flex;
    padding-left: 0rem;
    @media screen and (max-width: 1024px) {
      padding: 0rem 0rem;
      margin: 0rem;
    }
    @media screen and (max-width: 425px) {
      padding: 1rem 0rem;
    }
  }
}
