.container {
  width: 100%;
  .wrapper {
    width: 100%;
    box-sizing: border-box;
    margin-top: 2rem;
    @media screen and (max-width: 1024px) {
      padding: 2rem 0rem;
    }
    @media screen and (max-width: 500px) {
      margin-top: 0.3rem;
      padding: 0.3rem 0rem;
    }
  }
}
