@import "../../../../stylesConstants/colors.scss";
.container {
  width: 100%;
  .wrapper {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    @media screen and (min-width: 300px) and (max-width: 1400px) {
      flex-direction: column;
      row-gap: 0.5rem;
    }
    .inputWrapper {
      width: 35%;
      display: none;
      flex-direction: column;
      row-gap: 0.5rem;
      &:hover {
        border: 1px solid #3d83df;
      }
      @media screen and (max-width: 500px) {
        width: 100%;
      }
      @media screen and (max-width: 1100px) {
        display: block;
      }
      .inputStyle {
        background: #ffffff;
        border: 1px solid #edeff2;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        height: 50px;
        padding: 0.1rem 1rem;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.5rem;
        @media screen and (max-width: 1024px) {
          height: 40px;
        }
        input {
          height: 100%;
          width: 100%;
          background-color: transparent;
          border: none;
          outline: none;
          color: #161616;
          font-size: 15px;
          &::placeholder {
            color: #161616;
            font-size: 15px;
            @media screen and (max-width: 600px) {
              font-size: $smPara;
            }
          }
        }
        .pIcon {
          color: #3d83df;
          font-size: 25px;
          cursor: pointer;
          @media screen and (max-width: 1024px) {
            font-size: 20px;
          }
        }
      }
    }
    .leftSide {
      order: 1;
      width: 60%;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      @media screen and (min-width: 300px) and (max-width: 1400px) {
        width: 100%;
      }
      .card {
        width: 100%;
        max-width: 100%;
        @media screen and (min-width: 1400px) and (max-width: 2500px) {
          width: 100% !important;
        }
        background-color: #ffffff;
        border: 1px solid #dcdfe3;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        box-sizing: border-box;
        @media screen and (max-width: 550px) {
          flex-direction: column;
          padding: 1rem;
        }
        .left {
          display: flex;
          column-gap: 1rem;
          width: 100%;
          @media screen and (max-width: 599px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            row-gap: 1rem;
          }
          .upperContainer {
            display: flex;
            column-gap: 1rem;
            width: 100%;
            .imgWrapper {
              width: 140px;
              height: 120px;
              background: #edeff2;
              border-radius: 4px;
              display: flex;
              justify-content: center;
              align-items: center;
              @media screen and (min-width: 425px) and (max-width: 710px) {
                width: 150px;
                height: 100px;
              }
              @media screen and (max-width: 425px) {
                width: 90px;
                height: 90px;
              }
              img {
                // width: 100px;
                // height: 84px;
                width: 90%;
                height: 90%;
                @media screen and (min-width: 425px) and (max-width: 710px) {
                  width: 80%;
                  height: 80%;
                }
                @media screen and (max-width: 425px) {
                  width: 80%;
                  height: 80%;
                }
              }
            }
            .content {
              width: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              flex-direction: column;
              row-gap: 0.4rem;
              .title {
                font-size: 19px;
                font-weight: $fontWeight;
                color: $blackColor;
                @media screen and (min-width: 700px) and (max-width: 850px) {
                  font-size: $fontSize;
                }
              }
              .subTitle {
                font-size: $fontSize;
                font-weight: $lightWeight;
                color: $blackColor;
              }
              .ratingBox {
                display: flex;
                flex-direction: row;
                column-gap: 0.5rem;
                align-items: center;
                .stars {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 17px;
                  font-weight: 400;
                  color: $greenColor;
                  column-gap: 0.5rem;
                  @media screen and (min-width: 300px) and (max-width: 550px) {
                    justify-content: flex-start;
                    align-items: flex-start;
                  }
                  .ratingBoxs {
                    width: 10px;
                    height: 10px;
                    background-color: #00c3a5;
                    border-radius: 100%;
                  }
                }
                .reviews {
                  font-size: 14px;
                  font-weight: $lightWeight;
                  color: $blackColor;
                  @media screen and (min-width: 300px) and (max-width: 550px) {
                    font-size: 12px;
                  }
                }
              }
              .btnWrapper {
                display: none;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-end;
                column-gap: 1rem;
                height: 100%;

                @media screen and (min-width: 600px) {
                  display: flex;
                }
                @media screen and (max-width: 599px) {
                  display: none;
                }
                // @media screen and (min-width: 300px) and (max-width: 400px) {
                //   flex-direction: column;
                //   row-gap: 1rem;
                // }
                .bookButton {
                  border: none;
                  padding: 0rem 1.2rem 0rem 1.2rem;
                  outline: none;
                  color: $whiteColor;
                  background: $primary;
                  border-radius: 3px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 41.52px;
                  cursor: pointer;

                  span {
                    margin-left: 10px;
                    font-size: $paraFont;
                    @media screen and (min-width: 700px) and (max-width: 850px) {
                      font-size: $smPara;
                    }
                    @media screen and (min-width: 300px) and (max-width: 550px) {
                      font-size: 10px;
                    }
                  }
                  .icon {
                    font-size: $fontSize;
                    @media screen and (min-width: 300px) and (max-width: 550px) {
                      font-size: 12px;
                    }
                  }
                }
                .sendButton {
                  cursor: pointer;
                  border: none;
                  padding: 0rem 1.2rem 0rem 1.2rem;
                  outline: none;
                  color: #3d83df;
                  background: $whiteColor;
                  border-radius: 3px;
                  height: 41.52px;
                  border: 1px solid #3d83df;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  box-sizing: border-box;
                  transition: 0.6s;

                  &:hover {
                    background-color: #3d83df;
                    color: $whiteColor;
                    transition: 0.5s;
                  }

                  span {
                    margin-left: 10px;
                    font-size: $paraFont;
                    @media screen and (min-width: 700px) and (max-width: 850px) {
                      font-size: $smPara;
                    }
                    @media screen and (min-width: 300px) and (max-width: 550px) {
                      font-size: 10px;
                    }
                  }
                  .icon {
                    font-size: $fontSize;
                    @media screen and (min-width: 300px) and (max-width: 550px) {
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }

          .footer {
            width: 100%;
            justify-content: flex-start;
            display: flex;
            align-items: flex-start;
            @media screen and (min-width: 599px) {
              display: none;
            }
            .btnWrapper {
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              align-items: flex-end;
              column-gap: 1rem;
              height: 100%;

              .bookButton {
                border: none;
                padding: 0rem 1.2rem 0rem 1.2rem;
                outline: none;
                color: $whiteColor;
                background: $primary;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 41.52px;
                cursor: pointer;

                span {
                  margin-left: 10px;
                  font-size: $paraFont;
                }
                .icon {
                  font-size: $fontSize;
                }
              }
              .sendButton {
                cursor: pointer;
                border: none;
                padding: 0rem 1.2rem 0rem 1.2rem;
                outline: none;
                color: #3d83df;
                background: $whiteColor;
                border-radius: 3px;
                height: 41.52px;
                border: 1px solid #3d83df;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;

                span {
                  margin-left: 10px;
                  font-size: $paraFont;
                }
                .icon {
                  font-size: $fontSize;
                }
              }
            }
          }
        }
        .right {
          width: 20%;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          position: absolute;
          right: 30px;
          top: 20px;
          color: #00c3a5;
          cursor: pointer;
          .icon {
            color: #00c3a5;
            font-size: 25px;
          }
        }
      }
      .details {
        width: 100%;
        display: flex;
        // justify-content: space-between;
        // align-items: center;
        flex-direction: row;
        box-sizing: border-box;
        column-gap: 0.7rem;

        @media screen and (max-width: 1200px) {
          flex-direction: column;
          row-gap: 2rem;
        }
        @media screen and (min-width: 1400px) and (max-width: 2500px) {
          width: 100% !important;
        }
        .inquiries {
          width: 60%;
          background: #ffffff;
          display: flex;
          flex-direction: column;
          // row-gap: 1rem;
          border: 1px solid #dcdfe3;
          border-radius: 6px;
          @media screen and (min-width: 300px) and (max-width: 600px) {
            row-gap: 0.5rem;
          }
          @media screen and (max-width: 1200px) {
            width: 100%;
          }
          @media screen and (max-width: 800px) {
            width: 100%;
          }
          .heading {
            font-size: $smHeadingSIze;
            font-weight: $fontWeight;
            color: $blackColor;
            width: 100%;
            text-align: left;
            padding: 1rem;
            box-sizing: border-box;
            // @media screen and (min-width: 300px) and (max-width: 600px) {
            //   padding: 1rem;
            // }
          }
          .devider {
            width: 100%;
            border-bottom: solid 1px $bgSec;
          }
          .locationCard {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding: 2rem 0.7rem;
            box-sizing: border-box;
            border-bottom: solid 1px $bgSec;
            @media screen and (min-width: 300px) and (max-width: 600px) {
              flex-direction: column;
              row-gap: 1rem;
              padding: 1rem 1rem;
            }
            .leftSide {
              width: 60%;
              display: flex;
              flex-direction: row;
              column-gap: 0.5rem;
              @media screen and (min-width: 300px) and (max-width: 600px) {
                width: 100%;
              }
              .left {
                color: $grayColor;
                font-size: $fontSize;
              }
              .right {
                display: flex;
                flex-direction: column;
                row-gap: 0.5rem;
                color: $blackColor;
                .text1 {
                  font-size: $paraFont;
                  font-weight: $fontWeight;
                  span {
                    color: $grayColor;
                  }
                }
                .text2 {
                  font-size: $paraFont;
                  color: $grayColor;
                }
              }
            }
            .rightSide {
              display: flex;
              width: 40%;
              justify-content: flex-end;
              align-items: flex-end;
              @media screen and (min-width: 300px) and (max-width: 600px) {
                width: 100%;
                justify-content: flex-start;
              }
              .addressBTn {
                padding: 0.5rem 1.3rem;
                border: 1px solid #1662c6;
                background-color: #eef4fd;
                border-radius: $borderRadius;
                font-size: 15px;
                color: #1662c6;
                cursor: pointer;
                box-sizing: border-box;
                .icon {
                  margin-right: 0.6rem;
                }
              }
            }
          }
          .languageCard {
            width: 100%;
            display: flex;
            flex-direction: row;
            column-gap: 0.5rem;
            // padding: 1.3rem 2rem;
            padding: 2rem 0.7rem;
            box-sizing: border-box;
            border-bottom: solid 1px $bgSec;
            @media screen and (min-width: 300px) and (max-width: 600px) {
              padding: 1rem 1rem;
            }
            .left {
              color: $grayColor;
              font-size: $fontSize;
            }
            .right {
              display: flex;
              flex-direction: column;
              row-gap: 0.5rem;
              color: $blackColor;
              .text1 {
                font-size: $paraFont;
                font-weight: $fontWeight;
              }
              .text2 {
                font-size: $paraFont;
                color: $grayColor;
              }
            }
          }
          .phoneCard {
            width: 100%;
            display: flex;
            flex-direction: row;
            column-gap: 0.5rem;
            padding: 2rem 0.7rem;
            box-sizing: border-box;
            border-bottom: solid 1px $bgSec;
            @media screen and (min-width: 300px) and (max-width: 600px) {
              padding: 1rem 1rem;
            }
            .left {
              color: $grayColor;
              font-size: 15px;
            }
            .right {
              display: flex;
              flex-direction: column;
              row-gap: 0.5rem;
              color: $grayColor;
              .text1 {
                font-size: $paraFont;
              }
              .text2 {
                font-size: $paraFont;
              }
            }
          }
          .workshopHrs {
            width: 100%;
            display: flex;
            flex-direction: row;
            column-gap: 0.5rem;
            padding: 2rem 0.7rem;
            box-sizing: border-box;
            // border-bottom: solid 1px $bgSec;
            @media screen and (min-width: 300px) and (max-width: 600px) {
              padding: 1rem 1rem;
            }
            .left {
              color: $grayColor;
              font-size: $fontSize;
            }
            .right {
              display: flex;
              flex-direction: column;
              row-gap: 0.5rem;
              color: $blackColor;
              .text1 {
                font-size: $paraFont;
                font-weight: $fontWeight;
              }
              .slots {
                width: 70%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                @media screen and (min-width: 300px) and (max-width: 768px) {
                  flex-direction: column;
                  row-gap: 1rem;
                  align-items: flex-start;
                  width: 100%;
                }
                @media screen and (min-width: 1400px) and (max-width: 1770px) {
                  flex-wrap: wrap;
                }
                // @media screen and (min-width: 1024px) and (max-width: 1400px) {
                //   flex-direction: column;
                //   row-gap: 1rem;
                //   align-items: flex-start;
                //   width: 96%;
                // }
                .days {
                  font-size: 11.9px;
                  line-height: 22px;
                  color: $grayColor;
                  width: 150px;
                  min-width: 175px;
                  // cursor: pointer;
                  @media screen and (min-width: 300px) and (max-width: 425px) {
                    font-size: $paraFont;
                  }
                  // @media screen and (min-width: 1400px) and (max-width: 1770px) {
                  //   width: 160px;
                  //   min-width: 150px;
                  //   font-size: 12px;
                  // }
                  // &:hover {
                  //   color: $primary;
                  //   font-weight: $fontWeight;
                  // }
                }
              }
            }
          }
        }
        .Specialties {
          width: 40%;
          background: #ffffff;
          display: flex;
          flex-direction: column;
          border: 1px solid #dcdfe3;
          border-radius: 6px;
          @media screen and (max-width: 1200px) {
            width: 100%;
          }
          @media screen and (max-width: 800px) {
            width: 100%;
          }
          .heading {
            font-size: $smHeadingSIze;
            font-weight: $fontWeight;
            color: $blackColor;
            width: 100%;
            text-align: left;
            padding: 1rem;
            box-sizing: border-box;
          }
          .devider {
            width: 100%;
            border-bottom: solid 1px $bgSec;
          }
          .buttons {
            display: flex;
            flex-direction: row;
            column-gap: 0.7rem;
            flex-wrap: wrap;
            row-gap: 1.3rem;
            width: 100%;
            padding: 0.7rem;
            box-sizing: border-box;
            span {
              color: #00c3a5;
              background-color: #e0f7f4;
              padding: 0.1rem 0.8rem;
              font-size: 15px;
              font-weight: $fontWeight;
              line-height: 22px;
              height: 33px;
              align-items: center;
              text-align: center;
              display: flex;
              justify-content: center;
              border-radius: 6px;
            }
          }
          .moreless {
            padding: 0.7rem;
            display: flex;
            button {
              background: #3d83df;
              border-radius: 6px;
              color: #ffffff;
              border: 1px transparent;
              padding: 0.1rem 0.8rem;
              font-size: 15px;
              font-weight: $fontWeight;
              line-height: 22px;
              height: 33px;
              cursor: pointer;
            }
          }
        }
      }
    }
    .rightSide {
      width: 40%;
      order: 2;
      @media screen and (min-width: 300px) and (max-width: 1400px) {
        width: 100%;
      }
      .card {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        @media screen and (min-width: 300px) and (max-width: 800px) {
          width: 100%;
          flex-direction: column;
          row-gap: 10px;
        }
        .calenderWrapper {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          width: 55%;
          @media screen and (min-width: 300px) and (max-width: 800px) {
            width: 100%;
          }
        }
        .availbleSlots {
          padding: 1rem 0.3rem;
          width: 40%;
          max-height: 510px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          row-gap: 1rem;
          background-color: $dashBoardBackground;
          box-sizing: border-box;
          border-radius: 16px;
          @media screen and (min-width: 300px) and (max-width: 800px) {
            width: 100%;
          }
          .heading {
            font-size: $fontSize;
            font-weight: $fontWeight;
            color: $blackColor;
            width: 100%;
            text-align: center;
          }
          .btnWrapper {
            display: flex;
            // justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 0.6rem;
            width: 80%;
            height: 325px;
            max-height: 350px;
            overflow-y: auto;
            // padding-top: 3.8rem;
            @media screen and (min-width: 300px) and (max-width: 800px) {
              flex-direction: row;
              column-gap: 1rem;
              height: auto;
              // width: 500px;
              max-width: 520px;
              overflow-y: hidden;
              padding-bottom: 1rem;
              padding-top: 1rem;
            }

            .btn {
              background: #ffffff;
              border-radius: 3px;
              color: $primary;
              font-size: $fontSize;
              font-weight: $lightWeight;
              text-align: center;
              padding: 1rem 2rem;
              width: 70px;
              cursor: pointer;
              @media screen and (min-width: 300px) and (max-width: 900px) {
                font-size: $paraFont;
                width: 100;
                min-width: 110px;
                padding: 1rem 0.7rem;
              }
              &:hover {
                background-color: $primary;
                color: $whiteColor;
              }
            }
            .selected {
              background: $primary;
              border-radius: 3px;
              color: #ffffff;
              font-size: $fontSize;
              font-weight: $lightWeight;
              text-align: center;
              padding: 1rem 2rem;
              width: 70px;
              cursor: pointer;
              @media screen and (min-width: 300px) and (max-width: 900px) {
                font-size: $paraFont;
                width: 120;
                min-width: 130px;
                padding: 1rem 0.7rem;
              }
            }
          }
          .bookBtn {
            background: $primary;
            border-radius: 3px;
            color: $whiteColor;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            width: 90%;
            margin-top: 0.7rem;
            cursor: pointer;
            @media screen and (min-width: 300px) and (max-width: 425px) {
              // width: 160px;
              width: 100%;
              font-size: $paraFont;
            }
            button {
              background: $primary;
              border-radius: 3px;
              color: $whiteColor;
              font-size: 14px;
              line-height: 22px;
              font-weight: 500;
              text-align: center;
              border: 1px solid $primary;
              padding: 0.8rem;
              width: 100%;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              font-family: "Roboto";
              @media screen and (min-width: 300px) and (max-width: 1520px) {
                padding: 0.2rem;
                font-size: 12px;
              }
            }
          }
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
          }
        }
      }
    }
  }
}
