@import "../../../stylesConstants/colors.scss";
.disableDropdown {
  cursor: not-allowed;
  display: flex;
  background: transparent;
  border: 1px solid $whiteColor;
  background-color: $whiteColor;
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: $headingFamily;
  user-select: none;
  .dropdownbtn {
    display: flex;
    background: transparent;
    border: 1px solid #828282;
    border-radius: 12px;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
    box-sizing: border-box;

    span {
      width: 100%;
      padding: 0 10px;
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
      color: $whiteColor;
      font-weight: 500;
      display: flex;
      flex: 1;
      appearance: none;
      padding: 0 6px;
      font-size: 16px;
      text-transform: capitalize;
    }

    .imgContainer {
      // min-height: 26px;
      // min-width: 26px;
      // max-height: 26px;
      // max-width: 26px;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // // padding-top: 3.5px;

      .leftIcon {
        font-size: 25px;
        color: $whiteColor;
        rotate: 180deg;
        text-align: center;
        display: flex;
      }
    }

    .withRightIcon {
      max-width: 20px;
      height: auto;
      font-size: 22px;
      color: $whiteColor;
      padding-top: 6px;
      margin: 0;
    }
  }
}
.dropdown {
  position: relative;
  user-select: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  .dropdownbtn {
    display: flex;
    background: transparent;
    border: 1px solid #828282;
    border-radius: 12px;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;

    span {
      width: 100%;
      padding: 0 10px;
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
      color: grey;
      font-weight: 500;
      display: flex;
      flex: 1;
      appearance: none;
      padding: 0 6px;
      font-size: 16px;
      text-transform: capitalize;
    }

    .imgContainer {
      min-height: 26px;
      min-width: 26px;
      max-height: 26px;
      max-width: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding-top: 3.5px;

      .leftIcon {
        font-size: 25px;
        color: $whiteColor;
        rotate: 180deg;
        text-align: center;
        display: flex;
      }
    }

    .withRightIcon {
      max-width: 20px;
      height: auto;
      font-size: 22px;
      color: $blackColor;
      padding-top: 6px;
      margin: 0;
    }
  }

  .dropdowncontent {
    box-sizing: border-box;
    position: absolute;
    top: 110%;
    background: $backgroundGradient;
    border: 1px solid $bgPrimary;
    backdrop-filter: inherit;
    padding: 10px 5px;
    width: 100%;
    color: grey;
    max-height: 200px;
    overflow-y: auto;
    text-transform: capitalize;
    scrollbar-width: thin;
    z-index: 5;
    // box-shadow: 1px 5px 30px 0.1px rgba(255, 255, 255, 0.164);
  }

  .dropdownitems {
    padding: 10px;
    cursor: pointer;
    text-transform: capitalize;
  }

  .dropdownitems:hover {
    background-color: $primary;
    color: $whiteColor;
  }
}
.filterDropDown {
  position: relative;
  user-select: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  .dropdownbtn {
    display: flex;
    background: transparent;
    border: 1px solid #dcdfe3;
    border-radius: 4px;
    padding: 0.4rem 1rem;
    // width: 271px;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    @media screen and (min-width: 300px) and (max-width: 900px) {
      width: 100%;
    }

    span {
      width: 100%;
      padding: 0 2px;
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
      color: black;
      font-weight: normal;
      display: flex;
      flex: 1;
      appearance: none;
      font-size: 0.9rem;
      text-transform: capitalize;
    }

    .imgContainer {
      min-height: 26px;
      min-width: 26px;
      max-height: 26px;
      max-width: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      .leftIcon {
        color: black;
        text-align: center;
        display: flex;
      }
    }

    .withRightIcon {
      max-width: 30px;
      height: auto;
      font-size: 22px;
      color: black;
      padding-top: 6px;
      margin: 0;
      // background-color: $dashBoardBackground;
    }
  }

  .dropdowncontent {
    box-sizing: border-box;
    position: absolute;
    top: 110%;
    background: $whiteColor;
    border: 1px solid $dashBoardBackground;
    backdrop-filter: inherit;
    // padding: 10px 5px;
    width: 100%;
    color: #000000;
    max-height: 200px;
    overflow-y: auto;
    text-transform: capitalize;
    scrollbar-width: thin;
    z-index: 5;
    font-size: $fontSize;
    // box-shadow: 1px 5px 30px 0.1px rgba(255, 255, 255, 0.164);
  }

  .dropdownitems {
    padding: 10px;
    cursor: pointer;
    text-transform: capitalize;
    border-bottom: 1px solid #dcdfe3;
  }
  .dropdownitems:last-child {
    border-bottom: none;
  }
  .dropdownitems:hover {
    background-color: $primary;
    color: $whiteColor;
  }
}
.countryDropDown {
  position: relative;
  user-select: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  .dropdownbtn {
    display: flex;
    background: transparent;
    border: 1px solid $bgSec;
    border-radius: $borderRadius;
    padding: 0.8rem 1rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    @media screen and (min-width: 300px) and (max-width: 900px) {
      width: 80%;
    }

    span {
      width: 100%;
      padding: 0 10px;
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
      color: $blackColor;
      font-weight: $lightWeight;
      display: flex;
      flex: 1;
      appearance: none;
      padding: 0 6px;
      font-size: $fontSize;
      text-transform: capitalize;
    }
  }

  .dropdowncontent {
    box-sizing: border-box;
    position: absolute;
    top: 110%;
    background: $whiteColor;
    border: 1px solid $dashBoardBackground;
    backdrop-filter: inherit;
    // padding: 10px 0px;
    width: 100%;
    color: #000000;
    max-height: 200px;
    overflow-y: auto;
    text-transform: capitalize;
    scrollbar-width: thin;
    z-index: 5;
    font-size: $paraFont;
    // box-shadow: 1px 5px 30px 0.1px rgba(255, 255, 255, 0.164);
  }

  .dropdownitems {
    padding: 10px;
    cursor: pointer;
    text-transform: capitalize;
    border-bottom: 1px solid #dcdfe3;
  }
  .dropdownitems:last-child {
    border-bottom: none;
  }
  .dropdownitems:hover {
    background-color: $primary;
    color: $whiteColor;
  }
}

.Category {
  position: relative;
  user-select: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  .dropdownbtn {
    display: flex;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;

    span {
      width: 100%;
      padding: 0 10px;
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
      color: #222222;
      font-weight: 500;
      display: flex;
      flex: 1;
      appearance: none;
      padding: 0 6px;
      font-size: 14px;
      text-transform: capitalize;
    }

    .imgContainer {
      min-height: 26px;
      min-width: 26px;
      max-height: 26px;
      max-width: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding-top: 3.5px;

      .leftIcon {
        font-size: 25px;
        color: $whiteColor;
        rotate: 180deg;
        text-align: center;
        display: flex;
      }
    }
  }

  .dropdowncontent {
    box-sizing: border-box;
    position: absolute;
    top: 110%;
    background: #ffffff;
    border: 1px solid transparent;
    backdrop-filter: inherit;
    padding: 10px 5px;
    width: 100%;
    color: grey;
    max-height: 200px;
    overflow-y: auto;
    text-transform: capitalize;
    scrollbar-width: thin;
    z-index: 5;
    border-radius: 8px;
    // box-shadow: 1px 5px 30px 0.1px rgba(255, 255, 255, 0.164);

    .inputWrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      .inputStyle {
        background: transparent;
        border: 1px solid #707070;
        border-radius: 4px;
        height: 40px;
        padding: 0.9rem;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.5rem;
        input {
          height: 100%;
          width: 100%;
          background-color: transparent;
          border: none;
          outline: none;
          color: #495057;
          font-size: 12px;
          &::placeholder {
            color: #495057;
            font-size: 12px;
          }
        }
      }
    }
  }

  .dropdownitems {
    padding: 10px;
    cursor: pointer;
    text-transform: capitalize;
  }

  .dropdownitems:hover {
    background-color: $primary;
    color: $whiteColor;
  }
}

.dropdownNav {
  position: relative;
  user-select: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  .dropdownbtn {
    display: flex;
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid #828282;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;

    span {
      width: 100%;
      padding: 0 10px;
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
      // color: #222222;
      color: #1b2734;
      font-weight: 500;
      display: flex;
      flex: 1;
      appearance: none;
      padding: 0 6px;
      font-size: 14px;
      text-transform: capitalize;
    }
    .withRightIcon {
      max-width: 20px;
      height: auto;
      font-size: 22px;
      color: #98a1ab;
      padding-top: 6px;
      margin: 0;
    }
    .imgContainer {
      min-height: 26px;
      min-width: 26px;
      max-height: 26px;
      max-width: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding-top: 3.5px;

      .leftIcon {
        font-size: 25px;
        color: $whiteColor;
        rotate: 180deg;
        text-align: center;
        display: flex;
      }
    }
  }

  .dropdowncontent {
    box-sizing: border-box;
    position: absolute;
    top: 110%;
    background: #ffffff;
    border: 1px solid #828282;
    backdrop-filter: inherit;
    padding: 10px 5px;
    width: 100%;
    color: grey;
    max-height: 200px;
    overflow-y: auto;
    text-transform: capitalize;
    scrollbar-width: thin;
    z-index: 5;
    border-radius: 8px;
    // box-shadow: 1px 5px 30px 0.1px rgba(255, 255, 255, 0.164);

    .inputWrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      .inputStyle {
        background: transparent;
        border: 1px solid #707070;
        border-radius: 4px;
        height: 40px;
        padding: 0.9rem;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.5rem;
        input {
          height: 100%;
          width: 100%;
          background-color: transparent;
          border: none;
          outline: none;
          color: #495057;
          font-size: 12px;
          &::placeholder {
            color: #495057;
            font-size: 12px;
          }
        }
      }
    }
  }

  .dropdownitems {
    padding: 10px;
    cursor: pointer;
    text-transform: capitalize;
  }

  .dropdownitems:hover {
    background-color: $primary;
    color: $whiteColor;
  }
}

.radiusStyling {
  position: relative;
  user-select: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  .dropdownbtn {
    display: flex;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #828282;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;

    span {
      width: 100%;
      padding: 0 10px;
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
      color: #222222;
      font-weight: 500;
      display: flex;
      flex: 1;
      appearance: none;
      padding: 0 6px;
      font-size: 14px;
      text-transform: capitalize;
    }

    .imgContainer {
      min-height: 26px;
      min-width: 26px;
      max-height: 26px;
      max-width: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding-top: 3.5px;

      .leftIcon {
        font-size: 25px;
        color: $whiteColor;
        rotate: 180deg;
        text-align: center;
        display: flex;
      }
    }
  }

  .dropdowncontent {
    box-sizing: border-box;
    position: absolute;
    top: 110%;
    background: #ffffff;
    border: 1px solid #828282;
    backdrop-filter: inherit;
    padding: 10px 5px;
    width: 100%;
    color: grey;
    max-height: 200px;
    overflow-y: auto;
    text-transform: capitalize;
    scrollbar-width: thin;
    z-index: 5;
    border-radius: 8px;
    // box-shadow: 1px 5px 30px 0.1px rgba(255, 255, 255, 0.164);
    align-items: flex-start;
    text-align: start;
    .inputWrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      text-align: start;

      .inputStyle {
        background: transparent;
        border: 1px solid #707070;
        border-radius: 4px;
        height: 40px;
        padding: 0.9rem;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.5rem;
        input {
          height: 100%;
          width: 100%;
          background-color: transparent;
          border: none;
          outline: none;
          color: #495057;
          font-size: 12px;
          &::placeholder {
            color: #495057;
            font-size: 12px;
          }
        }
      }
    }
  }

  .dropdownitems {
    padding: 10px;
    cursor: pointer;
    text-transform: capitalize;
  }

  .dropdownitems:hover {
    background-color: $primary;
    color: $whiteColor;
  }
}
